# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Database settings
# =================
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NUXT_DATABASE_URL=postgres://root:root@localhost:26257/app

# Auth settings
# =============
# Expiry time for OTP in seconds. Default is 600 seconds (10 minutes).
NUXT_OTP_EXPIRY=600
# Secret to hash sessions. Can use https://1password.com/password-generator/ to generate a strong secret.
NUXT_SESSION_SECRET=random_session_secret_that_is_at_least_32_characters

# Mail settings
# =============
NUXT_POSTMAN_API_KEY=
# If using Sendgrid instead, the API token and "From" address must be set together.
NUXT_SENDGRID_API_KEY=
NUXT_SENDGRID_FROM_ADDRESS=

# Image upload settings
# =====================
# R2 API Keys for S3-compatible image upload
# If set to true, enables image upload
NUXT_PUBLIC_ENABLE_STORAGE=
NUXT_R2_ACCOUNT_ID=
NUXT_R2_BUCKET_NAME=
NUXT_R2_ACCESS_KEY_ID=
NUXT_R2_SECRET_ACCESS_KEY=
NUXT_R2_PUBLIC_HOSTNAME=

# SGID settings
# =============
# If set to true, enables SGID login
NUXT_PUBLIC_ENABLE_SGID=
NUXT_SGID_CLIENT_ID=
NUXT_SGID_CLIENT_SECRET=
NUXT_SGID_REDIRECT_URI=
NUXT_SGID_PRIVATE_KEY=

# Other settings
# ================
NUXT_PUBLIC_APP_NAME= # Uncomment to set application name

